<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://10.25.1.82</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>http://10.25.1.82</MSDeployServiceURL>
    <DeployIisAppPath>CloudStaff</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>RemoteAgent</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>Administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ABLCloudStaff.Models.ABLCloudStaffContext" Order="1" Enabled="False">
          <Destination Path="Data Source=localhost\SQLEXPRESS;Initial Catalog=ABLCloudStaff;User ID=test;Password=P@ssw0rd" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ABLCloudStaff.Models.ABLCloudStaffContext, ABLCloudStaff" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="staging" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Initial Catalog = ABLCloudStaff; Data Source =.\SQLEXPRESS; User ID = test; Password = P@ssw0rd; MultipleActiveResultSets = true" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\staging_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Initial Catalog = ABLCloudStaff; Data Source =.\SQLEXPRESS; User ID = test; Password = P@ssw0rd; MultipleActiveResultSets = true" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="release" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Initial Catalog = ABLCloudStaff; Data Source =AB-DEPLOY; User ID = CloudStaffTest; Password = P@ssw0rd; MultipleActiveResultSets = true" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\release_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Initial Catalog = ABLCloudStaff; Data Source =AB-DEPLOY; User ID = CloudStaffTest; Password = P@ssw0rd; MultipleActiveResultSets = true" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="debug" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Initial Catalog = ABLCloudStaff; Data Source =.\SQLEXPRESS; Integrated Security = true; MultipleActiveResultSets = true" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\debug_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Initial Catalog = ABLCloudStaff; Data Source =.\SQLEXPRESS; Integrated Security = true; MultipleActiveResultSets = true" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ABLCloudStaff.Models.ABLCloudStaffContext-Web.config Connection String">
      <ParameterValue>Data Source=localhost\SQLEXPRESS;Initial Catalog=ABLCloudStaff;User ID=test;Password=P@ssw0rd</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)debug-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)release-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)staging-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="ABLCloudStaff.Models.ABLCloudStaffContext" />
  </ItemGroup>
</Project>