@model List<ABLCloudStaff.Models.Core>

@{
    ViewBag.Title = "User Board";
}

<div class="jumbotron">
    <h1>CloudStaff</h1>
    <p class="lead">
        CloudStaff is a cloud based status and location logging tool for busy consultants.
        With this tool, busy consultants can easily communicate their status and location
        with colleagues.
    </p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Current CloudStaff Users</h2>
        <p>
            You'll love CloudStaff just as much as these people do.
        </p>
        @foreach(var core in @Model)
        {
            <p>@core.User.FirstName @core.User.LastName</p>
        }
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more features</h2>
        <p>CloudStaff is under construction. There are exciting features on the way, but you'll have to wait.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>An eye to the future</h2>
        <p>
            We plan for CloudStaff to tackle additional issues in more complex work environments. (namely visitors and health and safety in environments like farms, building sites etc.)
            Watch this space!
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>